Repository bgreenawald/bananagrams: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-black, backend-ruff, frontend-eslint, frontend-prettier

backend-black:
  name: Backend - Black formatting
  entry: bash -c 'cd backend && uv run black .'
  language: system
  pass_filenames: false

backend-ruff:
  name: Backend - Ruff linting
  entry: bash -c 'cd backend && uv run ruff check .'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend - ESLint
  entry: bash -c 'cd frontend && npm run lint:check'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend - Prettier
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

Fix board reset bug
  .pre-commit-config.yaml
  backend/uv.lock
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/src/stores/socket.ts
  frontend/src/views/GameOverView.vue
  package-lock.json
Due: frontend-eslint, frontend-prettier

Update CI
  .github/workflows/test.yml
  backend/pyproject.toml
  backend/uv.lock
Due: none

Update pre commit hooks
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  Dockerrun.aws.json
  FRONTEND_CODE_REVIEW.md
  README.md
  backend/BACKEND_CODE_REVIEW.md
  backend/words/words.txt
  frontend/Dockerfile
  frontend/README.md
  frontend/index.html
  frontend/nginx.conf
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/common/GameModal.vue
  frontend/src/components/game/BoardCell.vue
  frontend/src/components/game/GameBench.vue
  frontend/src/components/game/GameBoard.vue
  frontend/src/components/game/GameControls.vue
  frontend/src/components/game/GameTile.vue
  frontend/src/composables/useDragDrop.ts
  frontend/src/composables/useGameLogic.ts
  frontend/src/composables/useValidation.ts
  frontend/src/env.d.ts
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/stores/board.ts
  frontend/src/stores/player.ts
  frontend/src/stores/ui.ts
  frontend/src/styles/main.scss
  frontend/src/types/index.ts
  frontend/src/utils/logger.ts
  frontend/src/utils/route.ts
  frontend/src/views/GameView.vue
  frontend/src/views/LandingView.vue
  frontend/src/views/LobbyView.vue
  frontend/src/views/NotFoundView.vue
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: frontend-eslint, frontend-prettier

Update pre commit hooks
  .pre-commit-config.yaml
  FRONTEND_CODE_REVIEW.md
  backend/BACKEND_CODE_REVIEW.md
  backend/app.py
  backend/game.py
  backend/pyproject.toml
  backend/tests/test_app.py
  backend/tests/test_game.py
  backend/uv.lock
  frontend/src/views/LobbyView.vue
Due: backend-black, backend-ruff, frontend-eslint, frontend-prettier

Update to Python 3.12
  .github/workflows/test.yml
  backend/pyproject.toml
  backend/uv.lock
Due: none

Update packages
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier

Minor fixes
  backend/app.py
  frontend/src/components/__tests__/placeholder.test.ts
Due: backend-black, backend-ruff, frontend-eslint, frontend-prettier

Backend formatter check
  .github/workflows/test.yml
Due: none

Fixes
  backend/pyproject.toml
  backend/uv.lock
Due: none

Add keyboard shortcuts
  frontend/src/components/game/GameBoard.vue
  frontend/src/components/game/GameControls.vue
Due: frontend-eslint, frontend-prettier

Update CI
  .github/workflows/test.yml
Due: none

Fix modal interaction
  frontend/src/components/game/GameControls.vue
Due: frontend-eslint, frontend-prettier

Fix multi tile operations
  frontend/src/components/game/BoardCell.vue
  frontend/src/composables/useDragDrop.ts
Due: frontend-eslint, frontend-prettier

Path conditions:
  backend-black: any of: ^backend/.*\.py$
  backend-ruff: any of: ^backend/.*\.py$
  frontend-eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx|vue)$
  frontend-prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|vue|css|scss|json)$
